@font-face {
	font-family: 'Grover Chilis';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/chilis.otf);
}
body
{
	background: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
h1, h2, h3, h4
{
	font-family: 'Grover Chilis', cursive;
}
h1
{
	font-size: 34px;
}
.video-test
{
	outline: 2px solid #FF0000;
	width: 300px;
	height: 300px;
	border-radius: 50%;
}
/**** secciones */
.btn
{
	/* Rectangle 3: */
	background-image: linear-gradient(-180deg, #64A0FF 0%, #3667B4 100%);
	border-radius: 4px;
	padding: 9px 25px;
	color: #FFF;
}
.header
{
	background: url("../img/bg_photos.jpg");
	text-align: center;
	color: #FFF;
	padding-bottom: 100px;
	height: 500px;
	overflow: hidden;
}
.header video
{
	width: 100%;
	margin-top: -80px;
}
.header .content
{
	position: absolute;
	width: 100%;
}
.header h1
{
	color: #FFF;
}
.main-nav {
	background: rgba(0,0,0,.4);
	/*-webkit-filter: url("#goo");*/
	/*-webkit-transform: translateZ(0);*/
	filter: url("../index.html#goo");
	transform: translateZ(0);
	list-style: none;
	margin: 0 0 80px 0;
	padding: 0;
	text-align: center;

}
.main-nav li
{
	display: inline-block;
	margin: 20px;
}
.main-nav li a
{
	display: block;
	font-size: 20px;
	color: rgba(243,243,243,0.90);
	padding: 10px 8px;
	text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}
.main-nav li a:hover, .active
{
	background: #FF0000;
}


.slider
{
	width: 900px;
	outline: 1px solid #FF0000;
	overflow: hidden;
}
.slider ul
{
	width: 3000px;
	list-style: none;
	margin: 0;
	padding: 0;
	transition: all 1s;
}
.slider li
{
	float: left;
	display: block;
	width: 900px;
}
/*.slider ul:hover
{
	margin-left: -900px;
}*/


.profile
{
	display: inline-block;
	border:4px solid #FFF;
	border-radius: 200px;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

/**********/
@media handheld and (min-width: 200px) {
	.slider
	{
		background: #FF0000;
	}
}


@media (min-width: 500px) and (max-width: 800px) {
	.slider
	{
		background: #0000ff;
	}

 }








